div.users-manager {
  display: flex;
  overflow-x: scroll;
  flex-wrap: wrap;
}

div.department-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

div.user-card {
  background-color: white;
  font-weight: 600;
  border: 0;
  box-shadow: inset 2px 2px 0 #eee, inset -2px -2px 0 #eee;
  cursor: pointer;
  margin-bottom: 1rem;
}

div.user-card p {
  font-size: 12pt;
  font-weight: 400;
  padding: 3px 0;
}

div.user-departments {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
  overflow-y: scroll;
}

p.process-data-button {
  position: sticky;
  top: 0;
  text-align: center;
  width: 100%;
}
p.process-data-button button {
  padding: 1rem;
  margin: 2rem auto;
  background-color: blueviolet;
  border: 0;
  outline: 0;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 21pt;
}
